* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
   
    
}

* {
  scrollbar-width: none;          
}

*::-webkit-scrollbar {
  width: 0 !important;           
  height: 0 !important;
}


nav {
  background-color: #252525;
  padding: 10px 0;
   display: flex;
  justify-content: space-between;  
  align-items: center;             
  padding: 8px 20px;
  flex-shrink: 0; 
  margin-bottom: 20px; 
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}


nav li {
  margin: 0 20px;
}


nav a {
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 8px 12px;
  
}


 

nav a.active {
  background-color: white;
  color: black;
  border-radius: 5px;
  
}



.navnames{
    display: flex;
    justify-content: space-around;
}

.logoh{
    display: flex;
}

.logo{
    height: 40px;
    border-radius: 12px;

}

.lostlink{

    font-size: 20px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
   
  
}

#reportyourlostitem{
    
   margin: auto;
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 20px;


}



.item-image {
  width: 300px;
  height: 280px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
    padding: 10px;
    margin-bottom: 15px;

  cursor: pointer;
  padding: 10px;
}



.item-image:hover {
  border-color: #666;
  background: #f0f0f0;
}

.item-image input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* For the "+ add image" text */
.item-image::after {
  content: "+ add image";
  position: absolute;
  color: #666;
  font-size: 14px;
}

.userreport , .report-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    padding: 20px;
    font-weight: 500;
}


.report-form{
    width: 80%;
    align-items: start;
     background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;


}



.report-form input{
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  resize: none;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 18px;
  
}

input:hover {
  border-color: #323232;
  
}




.report-form label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.options{
    
    margin-right: 50px;
}

#campusopt{
    display: flex;
    margin-right: 30px;
    padding: 10px;
}

.report-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  resize: none;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 18px;
  min-height: 150px;
  padding: 10px;
  width: 60%;
}


textarea:hover {
  border-color: #323232;
  
}




#submit{
    margin: auto;
    color: white;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #252525;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 100px;
}

#submit:hover{
 background-color: black;

}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pastpost{
  width: 90%;
  height: 350px;
  background-color: white;
   background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 35% 25% 40%;
  margin: auto;
  position: relative;
  margin-bottom: 50px;
  
}

.changes {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dots {
  font-size: 23px;
  cursor: pointer;
  padding: 5px;
  border-radius: 30%;
}

.dots:hover {
  background: #f2f2f2;
}


.menu {
  list-style: none;
  margin: 0;
  padding: 6px 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 120px;
  position: absolute;
  top: 25px;
  right: 0;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
  /* display: none;     abhi hide , JS se show  */
}

.menu li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.menu li:hover {
  background: #f7f7f7;
}

.menu li a {
  color: black;          /* blue hatam */
  text-decoration: none;
  text-decoration-color: rgb(255, 255, 255); /* underline hatam */
  display: block;
  padding: 8px 12px;
  color: black !important;
  display: inline; 
  padding: 0; 
}


#yourposts{
  margin: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 5%;
}


#pastimg{
  height: 310px;
  width: 90%;
  background-color: #ccc;
  border-radius: 6px;
}

label{
  font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
    
}

#info1{
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

#info2{
  display: flex;
  flex-direction: column;
  padding: 10px;
   
}

.infodisplay1{
   margin: 0;
   width: 260px;
   height: 60px;
    font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 300;
   text-align: left;
   padding-bottom: 5px;
   margin-bottom: 5px;
   overflow-x: scroll;
}

.infodisplay{
   margin: 0;
   width: 260px;
   height: 45px;
    font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 300;
   text-align: left;
   padding-bottom: 5px;
   margin-bottom: 5px;
   overflow-x: scroll;
}

.infodisplay2{
   margin: 0;
   width: 350px;
   height: 175px;
    font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 300;
   text-align: left;
   padding-bottom: 10px;
   margin-bottom: 10px;
   overflow-x: scroll;
}