* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;

    
}

* {
  scrollbar-width: none;          
}

*::-webkit-scrollbar {
  width: 0 !important;           
  height: 0 !important;
}


            /* css of login page  */

.titleimg{

    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: center;
    width: 450px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.6);
    margin: auto;
    
}

.loginbox{

   
    height: 280px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    background-color: rgba(240, 240, 240, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}  



#logo{
    height: 80px;
    margin-top: 80px;
    margin-bottom: 20px;
  
   
}
.head{
    display: flex;
    justify-content: center;
}

#name{
    font-size: 40px;
    font-weight: 700;
     margin-top: 90px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

#email{
    margin-top:20px;

}

#password{
    margin-top: 20px;
    
    
}

#continue{
  background: #222;
  color: #fff;
  border: none;
  text-decoration-color: black;
  border-radius: 6px;
  padding: 10px 18px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease;
  margin-top: 35px;
  width: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

#continue:hover {
  background: #111;
}

.login{
    
    width: 200px;
    border: 1px solid rgb(57, 57, 57);
    border-radius: 2px;

}

input::placeholder{
    padding-left: 0px;
}


.wronginput{
  color: #EF5350;
 font-size: 14px;
  text-align: center;
  margin-top: 5px;
  display: none;
}

#tologin{
  color: #000;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}



           /* css of login page ends here */



           /* css of home page */









nav {
  background-color: #252525;
  padding: 10px 0;
   display: flex;
  justify-content: space-between;  
  align-items: center;              
  padding: 8px 20px;
  flex-shrink: 0;  
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}


nav li {
  margin: 0 60px;
}

nav li {
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 8px 12px;
  transition: background 0.3s, color 0.3s;
}


nav li.active {
  background-color: white;
  color: black;
  border-radius: 5px;
}



.navnames{
    display: flex;
    justify-content: space-around;
}

#notiimg{
  width: 30px;
  height: 36px;
 margin-top: 5px;
}

.logoh{
    display: flex;
}

.logo{
    height: 40px;
    border-radius: 12px;

}

.lostlink{

    font-size: 20px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
   
  
}

.post{
   
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
  
}

.post:hover{
     transform: scale(1.02);
    
}

.post-link {
  text-decoration: none;
  color: inherit;   
  display: block;
}

.post-link * {
  text-decoration: none;   
}

p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    font-weight: 600;
}

.pic{
    height: 310px;
    width: 95%;
    position: relative;
  flex-shrink: 0;
  overflow: hidden;
    
}


.pic img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

#postsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  overflow-y: auto;     
  overflow-x: hidden;
}




.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}




.foundit{
     all: unset; 
    height: 35px;
    width: 150px;
    background-color: #252525;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #fff;

}

.foundit:hover{
  background-color: black;
}

.foundit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    align-self: center;
}

.submmited{
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

.item-name{

    margin-left: 10;
    height: 23px;
    width: 180px;
    font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 400;
   text-align: left;
   overflow: hidden;
    
}

.item-desc{

    margin: 10px;
    margin-top: 5px;
    height: 45px;
    width:95%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    overflow: auto;

}

.loc{
    width: 16px;
    padding-top:3px;
    
}

.locname{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.nameloc{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-left: 10px;
}

#reports{
    padding-top: 10px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.semi-circle {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85px;          
  height: 85px;         
  background-color: #252525; 
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -32px;
}


#pluslogo{
    width: 38px;
    margin-bottom: 38px;
    padding-top: 10px;
}



.reportedimg{

    width: 100%;
    height: 450px;
    background-color: #ccc;
    

}

.reportedimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}

.reportedimgname{
    font-size: 16px;     
  font-weight: 400;
  white-space: normal; 
  word-wrap: break-word;
  padding: 5px;
  padding-bottom: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.reportedimgdesc{
    white-space: normal;
  overflow: visible;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  background-color: #e8e8e8;
   border-radius: 4px;
  
}

#Contact , #location , #reportedname , #reporteddesc{
    font-size: 18px;
    padding: 5px;
    font-weight: 400;
    padding-bottom: 8px;
    padding-bottom: 2px;
}

.reportedcontact , .reportedloc , .reportedname {
    
    font-size: 16px;
    padding-bottom: 8px;
    padding: 5px;
    background-color: #e8e8e8;
    display: inline-block; 
    width: max-content;    
    border-radius: 4px;
    
    
}

.reportedcamdate{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.reportedcamimg{
  display: flex;
}

.reportedcampus{
padding-top: 8px;
}

.reporteddate{
padding-top: 8px;


}


#loc{
    height: 20px;
    padding: 3px;
    
}

.details-container {
  display: grid;
  grid-template-columns:40% 60%; 
  gap: 30px;
  padding: 20px;
  background-color: #f9f9f9;
}

.post-details {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  min-height: auto;
  height: auto;
  justify-items: center;
  display: flex;
  flex-direction: column;
}


.finder-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: auto;
  height: auto;
  position: relative; 

}

.finder-form input, .finder-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  resize: none;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 18px;
  
  
}

.finder-form button {
  background-color: #1a1a1a;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;

  bottom: 20px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  position: absolute;
}

.finder-form button:hover {
  background-color: #000000;
}

.infooffinder{
  min-height: 150px;
  padding: 10px;
}

.foundthisitem{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}


.error-msg {
  background: rgba(255, 0, 0, 0.08);
  color: #b00020;
  padding: 2px 6px;
  margin-top: -10px;
  margin-bottom: 8px;
  margin-left: 5px;
  border-radius: 0px;
  font-size: 14px;
  display: none;
}

input:hover {
  border-color: #323232;
  
}

textarea:hover {
  border-color: #323232;
  
}

.form input{
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #818181;
  border-radius: 5px;
  font-family: inherit;
  resize: none;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 16px;
}

input[type="date"] {
    width: 90%;
    padding: 12px 14px;
    font-size: 16px;
    border: 1.5px solid #dcdcdc;
    border-radius: 10px;
    background: #fafafa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    outline: none;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type="date"]:hover {
    border-color: #b5b5b5;
}

input[type="date"]:focus {
    border-color: #3b7ddd;
    background: #ffffff;
}


label{
    padding: 10px;
    font-size: 20px;
}

/* SEARCH BAR IN NAV */
.nav-search {
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1;
    padding-left: 100px;
}

.nav-search input {
    padding: 8px 16px;
    border: 1px solid #bbb;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: 0.2s ease;
}

.nav-search input:focus {
    border-color: #717171;
    box-shadow: 0 0 4px rgba(51, 51, 51, 0.4);
    padding:  9px 18px;
    
}

.nav-search button {
    padding: 6px 14px;
    background: #ffffff;
    color: rgb(27, 27, 27);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 450;
}

.nav-search button:hover {
    padding: 7px 16px;
}



.notification {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 400px;
    background: #0e0e0e;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 14px;
    padding: 18px 20px;
    display: flex;
    gap: 14px;
    align-items: flex-start;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.6s ease;
    z-index: 999;
}


.notif-dot {
    width: 12px;
    height: 12px;
    background: #00ff88;
    border-radius: 50%;
    margin-top: 6px;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
}


.notif-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #ffffff;
}

.notif-text {
    font-size: 14px;
    color: #cccccc;
    line-height: 1.4;
}

.notif-time {
    font-size: 12px;
    color: #888888;
    margin-top: 6px;
    display: inline-block;
}


@keyframes slideIn {
    from {
        transform: translateX(120%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}




.notif-page {
    width: 100%;
    
    align-items: center;
    display: flex;
    flex-direction: column;
}

#notifContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-title {
    
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-top: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #000;
}

.notiimg img {
  width: 230px;
    height: 230px;
    background-color: #ccc;
    
  
}


.notif-card {
   
    border-radius: 16px;
    padding: 25px;
    width: 90%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}


.status {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.status-dot {
    width: 12px;
    height: 12px;
    background: #00ff88;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
}

.status-text {
    font-size: 14px;
    font-weight: 600;
    color: #00ff88;
}


.info p {
    font-size: 14px;
    margin-bottom: 8px;
    
}

/* .notiimg{
    width: 230px;
    height: 230px;
    background-color: #ccc;
    margin-bottom: 15px;
    margin-top: -40px;
    
} */

.notif-details{
   display: flex;
   justify-content: space-between;
    
}



.message {
    margin-top: 16px;
    font-size: 14px;
    
    line-height: 1.5;
}



.submmited-msg{
    font-size: 10px;
    position: absolute;
    bottom: 12px;
    align-self: center;
    margin-right: 8px;
}