* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
   
    
}

* {
  scrollbar-width: none;          
}

*::-webkit-scrollbar {
  width: 0 !important;           
  height: 0 !important;
}


nav {
 background-color: #252525;
  padding: 10px 0;
   display: flex;
  justify-content: space-between;  
  align-items: center;              
  padding: 8px 20px;
  flex-shrink: 0;   
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}


nav li {
  margin: 0 30px;
}


nav li {
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 8px 12px;
  transition: background 0.3s, color 0.3s;
  
}


 

nav li.active {
  background-color: white;
  color: black;
  border-radius: 5px;
  
}



.navnames{
    display: flex;
    justify-content: space-around;
}

#notiimg{
  width: 30px;
  height: 36px;
  margin-top: 5px;
}

.logoh{
    display: flex;
}

.logo{
    height: 40px;
    border-radius: 12px;

}

.lostlink{

    font-size: 20px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
   
  
}

#reportyourlostitem{
    
   margin: auto;
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 20px;


}



.item-image {
  width: 300px;
  height: 280px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  
  
}



.item-image input[type="file"] {
  
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 7;
}



#previewImage {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border: 2.5px solid rgb(33, 33, 33);
 
}

.item-image:hover {
  border-color: #666;
  background: #f0f0f0;
}

.item-image input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}




.item-image::after {
  content: "+ add image";
  position: absolute;
  color: #666;
  font-size: 14px;
  
}

.item-image.has-image:hover::after {
  content: "+ add image";
  position: absolute;
  color: #ffffff;
  font-size: 14px;
           
  text-shadow: 0 0 5px black;
  z-index: 5;
}


.userreport , .report-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    padding: 20px;
    font-weight: 500;
}


.report-form{
    width: 80%;
    align-items: start;
     background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;


}



.report-form input{
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  resize: none;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 18px;
  
}


input:hover {
  border-color: #323232;
  
}




.report-form label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.options{
    
    margin-right: 50px;
}

#campusopt{
    display: flex;
    margin-right: 30px;
    padding: 10px;
}

.report-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  resize: none;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 18px;
  min-height: 150px;
  padding: 10px;
  width: 60%;
}


textarea:hover {
  border-color: #323232;
  
}




#submit{
    margin: auto;
    color: white;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #252525;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 100px;
}

#submit:hover{
 background-color: black;

}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pastpost{
  width: 90%;
  height: 350px;
  background-color: white;
   background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 35% 25% 40%;
  margin: auto;
  position: relative;
  margin-bottom: 50px;
  
}

.changes {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dots {
  font-size: 23px;
  cursor: pointer;
  padding: 5px;
  border-radius: 30%;
}

.dots:hover {
  background: #f2f2f2;
}


.menu {
  list-style: none;
  margin: 0;
  padding: 6px 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 120px;
  position: absolute;
  top: 25px;
  right: 0;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
  
}

.menu li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.menu li:hover {
  background: #f7f7f7;
}

.menu li a {
  color: black;          
  text-decoration: none;
  text-decoration-color: rgb(255, 255, 255); 
  display: block;
  padding: 8px 12px;
  color: black !important;
  display: inline; 
  padding: 0; 
}


#yourposts{
  margin: 18px;       
  width: 100%;
  max-width: 500px;        
  padding: 20px;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


#pastimg{
  height: 310px;
  width: 90%;
  background-color: #ccc;
  border-radius: 6px;
}



#info1{
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
word-wrap: break-word;
overflow-wrap: break-word;
  
}

#info2{
  display: flex;
  flex-direction: column;
  padding: 10px;
   
}

.infodisplay1{
   margin: 0;
   width: 260px;
   height: 60px;
    font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 300;
   text-align: left;
   padding-bottom: 5px;
   margin-bottom: 5px;
  white-space: normal;
  overflow: visible;
  font-size: 14px;
  line-height: 1.4;
   border-radius: 4px;
   box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
   
}

.infodisplay{
   margin: 0;
   width: 260px;
   height: 45px;
    font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 300;
   text-align: left;
   padding-bottom: 5px;
   margin-bottom: 5px;
   overflow-x: scroll;
   
}

.infodisplay2{
   margin: 0;
   height: 200px;
    font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 300;
   text-align: left;
   padding-bottom: 10px;
   margin-bottom: 10px;
   white-space: normal;
  overflow: visible;
  font-size: 14px;
  line-height: 1.6;
  padding: 5px;
   border-radius: 4px;
   box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}



.error-msg {
  background: rgba(255, 0, 0, 0.08);
  color: #b00020;
  padding: 2px 6px;
  margin-top: -10px;
  margin-bottom: 8px;
  margin-left: 5px;
  border-radius: 0px;
  font-size: 14px;
  display: none;
}

.error-msg.show {
  
  display: block;
}





               /* account page css  */


.accinfo{
 
  display: flex;
  position: relative;
  padding: 50px;
  gap: 150px;
  padding-left: 100px;
  padding-right: 150px;
  
  width: 90%;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   margin-top: 50px;
  
}

.profilepic{
   height: 240px;
   width: 240px;
   border-radius: 50%;
   background-color: #ccc;
   margin-bottom: 20px;
   
}      

.accountinfo{
  padding-right: 50px;
}

#accinfohead{
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.username , .email , .infoitem{
  font-size: 20px;
  padding-bottom: 15px;
  
}

#username , #email , #infoitem{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label{
  font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
    
}

.infoitem{
    display: flex;
    align-items: center;
}

.infoitem span{
    margin-left: 10px;
    font-weight: 500;
}

.infoitem div{
    margin-left: 10px;
    font-weight: 500;
}

#accusername , #accemail , #accnumber{
    width: 300px;
    height: 30px;

}





/* nav search bar css */



.nav-search {
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1;
    padding-left: 100px;
}

.nav-search input {
    padding: 8px 16px;
    border: 1px solid #bbb;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: 0.2s ease;
}

.nav-search input:focus {
    border-color: #717171;
    box-shadow: 0 0 4px rgba(51, 51, 51, 0.4);
    padding:  9px 18px;
    
}

.nav-search button {
    padding: 6px 14px;
    background: #ffffff;
    color: rgb(27, 27, 27);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 450;
}

.nav-search button:hover {
    padding: 7px 16px; 
}



/* nav search bar css end  */

#edit{
  all: unset;
  color: rgb(255, 255, 255);
  background-color: #252525;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 6px 14px;
   border-radius: 5px;
  position: absolute;
  top: 14px;
  left: 14px;

}



         /* // my posts html css  */

 
.mypostcontainer{
  display: flex;
  
}






           /* // my reports page css  // */

#reports{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 10px;
}         

#mypostsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypost{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 8px 12px rgb(105, 105, 105);
  padding: 20px;
  position: relative;
}

/* .info{
  padding: 15px;
} */

.info p{
  margin: 10px;
  margin-left: 20px;
}

/* .info p:nth-child(7) {
  margin-top: 35px;
} */


.mypostimg {
  width: 220px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
}

.mypostimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dot3{
  position: absolute;
  left: 2px;
  top: 4px;
  font-size: 23px;
  padding: 5px;
  cursor: pointer;
  z-index: 9;
  
}


          /* // my report page css // */


          

          /* delete option css */


.delbox{
  position: absolute;
  padding: 12px 18px;
  border-radius: 8px;
  box-shadow: 0px 8px 12px rgb(105, 105, 105);
  font-size: 14px;
  cursor: pointer;
  left: 40px;
  top: 5px;
  display: none;
  z-index: 10;
}

/* #dot3:hover + .delbox {
  display: block;
  
} */
